{"openapi":"3.1.0","info":{"title":"CPNM.NL","version":"0.0.1","description":"Concertzender API provides access to articles, programs, episodes, channels, media, and broadcasts. All endpoints support localization via the `{locale}` parameter."},"servers":[{"url":"https:\/\/api.concertzender.nl\/api\/v1"}],"paths":{"\/{locale}\/broadcasts\/{date}":{"get":{"operationId":"broadcasts.index","tags":["Broadcast"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"date","in":"path","required":true,"description":"**Optional**","schema":{"type":["string","null"],"default":null},"x-optional":true},{"name":"page","in":"query","schema":{"type":"integer","default":1}}],"responses":{"200":{"description":"Array of `BroadcastResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/BroadcastResource"}},"code":{"type":"integer","enum":[200]},"status":{"$ref":"#\/components\/schemas\/ApiRequestStatus"},"action":{"type":"string"},"message":{"type":"string"}},"required":["data","code","status","action","message"]}}}}}}},"\/{locale}\/channels":{"get":{"operationId":"channels.index","tags":["Channel"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","default":1}},{"name":"offset","in":"query","description":"Items to skip from the beginning.","schema":{"type":"integer","default":0}},{"name":"limit","in":"query","description":"Maximum number of items to return.","schema":{"type":"integer","default":30}}],"responses":{"200":{"description":"Array of `ChannelResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/ChannelResource"}},"code":{"type":"integer","enum":[200]},"status":{"$ref":"#\/components\/schemas\/ApiRequestStatus"},"action":{"type":"string"},"message":{"type":"string"}},"required":["data","code","status","action","message"]}}}}}}},"\/{locale}\/channels\/{id}":{"get":{"operationId":"channels.show","tags":["Channel"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"Items to skip from the beginning.","schema":{"type":"integer","default":0}},{"name":"limit","in":"query","description":"Maximum number of items to return.","schema":{"type":"integer","default":30}},{"name":"include_current","in":"query","description":"Include currently playing episode payload (can be slower).","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}}}}},"\/{locale}\/episodes":{"get":{"operationId":"episodes.index","tags":["Episode"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","default":1}}],"responses":{"200":{"description":"Array of `EpisodeResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/EpisodeResource"}},"code":{"type":"integer","enum":[200]},"status":{"$ref":"#\/components\/schemas\/ApiRequestStatus"},"action":{"type":"string"},"message":{"type":"string"}},"required":["data","code","status","action","message"]}}}}}}},"\/{locale}\/episodes\/{id}":{"get":{"operationId":"episodes.show","tags":["Episode"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"`EpisodeResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/EpisodeResource"},"code":{"type":"integer","enum":[200]},"status":{"$ref":"#\/components\/schemas\/ApiRequestStatus"},"action":{"type":"string"},"message":{"type":"string"}},"required":["data","code","status","action","message"]}}}}}}},"\/{locale}":{"get":{"operationId":"index","tags":["Index"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"broadcasts":{"type":"string"},"channels":{"type":"string"},"episodes":{"type":"string"},"pages":{"type":"string"},"playlists":{"type":"string"},"playlists\/taxonomy":{"type":"string"},"posts":{"type":"string"},"programs":{"type":"string"},"search":{"type":"string"},"search\/type":{"type":"string"}},"required":["broadcasts","channels","episodes","pages","playlists","playlists\/taxonomy","posts","programs","search","search\/type"]}}}}}}},"\/{locale}\/pages":{"get":{"operationId":"pages.index","tags":["Page"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Array of `PageResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/PageResource"}},"code":{"type":"integer","enum":[200]},"status":{"$ref":"#\/components\/schemas\/ApiRequestStatus"},"action":{"type":"string"},"message":{"type":"string"}},"required":["data","code","status","action","message"]}}}}}}},"\/{locale}\/playlists":{"get":{"operationId":"playlists.index","tags":["Playlist"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","default":1}}],"responses":{"200":{"description":"Array of `PlaylistIndexResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/PlaylistIndexResource"}},"code":{"type":"integer","enum":[200]},"status":{"$ref":"#\/components\/schemas\/ApiRequestStatus"},"action":{"type":"string"},"message":{"type":"string"}},"required":["data","code","status","action","message"]}}}}}}},"\/{locale}\/playlists\/{id}":{"get":{"operationId":"playlists.show","tags":["Playlist"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"`PlaylistResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/PlaylistResource"},"code":{"type":"integer","enum":[200]},"status":{"$ref":"#\/components\/schemas\/ApiRequestStatus"},"action":{"type":"string"},"message":{"type":"string"}},"required":["data","code","status","action","message"]}}}}}}},"\/{locale}\/playlists\/{taxonomyType}\/index":{"get":{"operationId":"playlists.taxonomy.index","tags":["Playlist"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"taxonomyType","in":"path","required":true,"description":"The taxonomy type ID","schema":{"$ref":"#\/components\/schemas\/TaxonomyType"}}],"responses":{"200":{"description":"Array of `PlaylistTaxonomyResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/PlaylistTaxonomyResource"}}},"required":["data"]}}}},"404":{"$ref":"#\/components\/responses\/ModelNotFoundException"}}}},"\/{locale}\/playlists\/taxonomy\/{taxonomyId}":{"get":{"operationId":"playlists.taxonomy.playlist.index","tags":["Playlist"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"taxonomyId","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","default":1}}],"responses":{"200":{"description":"Array of `PlaylistIndexResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/PlaylistIndexResource"}},"code":{"type":"integer","enum":[200]},"status":{"$ref":"#\/components\/schemas\/ApiRequestStatus"},"action":{"type":"string"},"message":{"type":"string"}},"required":["data","code","status","action","message"]}}}}}}},"\/{locale}\/posts":{"get":{"operationId":"posts.index","tags":["Post"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","default":1}}],"responses":{"200":{"description":"Array of `PostIndexResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/PostIndexResource"}},"code":{"type":"integer","enum":[200]},"status":{"$ref":"#\/components\/schemas\/ApiRequestStatus"},"action":{"type":"string"},"message":{"type":"string"}},"required":["data","code","status","action","message"]}}}}}}},"\/{locale}\/posts\/{id}":{"get":{"operationId":"posts.show","tags":["Post"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"`PostResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/PostResource"},"code":{"type":"integer","enum":[200]},"status":{"$ref":"#\/components\/schemas\/ApiRequestStatus"},"action":{"type":"string"},"message":{"type":"string"}},"required":["data","code","status","action","message"]}}}}}}},"\/{locale}\/programs":{"get":{"operationId":"programs.index","tags":["Program"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","default":1}}],"responses":{"200":{"description":"Array of `ProgramResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/ProgramResource"}},"code":{"type":"integer","enum":[200]},"status":{"$ref":"#\/components\/schemas\/ApiRequestStatus"},"action":{"type":"string"},"message":{"type":"string"}},"required":["data","code","status","action","message"]}}}}}}},"\/{locale}\/programs\/{id}":{"get":{"operationId":"programs.show","tags":["Program"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"`ProgramResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/ProgramResource"},"code":{"type":"integer","enum":[200]},"status":{"$ref":"#\/components\/schemas\/ApiRequestStatus"},"action":{"type":"string"},"message":{"type":"string"}},"required":["data","code","status","action","message"]}}}}}}},"\/{locale}\/programs\/{id}\/episodes":{"get":{"operationId":"programs.episodes.index","tags":["Program"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","default":1}}],"responses":{"200":{"description":"Array of `EpisodeResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/EpisodeResource"}},"code":{"type":"integer","enum":[200]},"status":{"$ref":"#\/components\/schemas\/ApiRequestStatus"},"action":{"type":"string"},"message":{"type":"string"}},"required":["data","code","status","action","message"]}}}}}}},"\/{locale}\/search\/{query}":{"get":{"operationId":"search","tags":["Search"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"query","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Paginated set","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/SearchCollection"},"links":{"type":"object","properties":{"first":{"type":["string","null"]},"last":{"type":["string","null"]},"prev":{"type":["string","null"]},"next":{"type":["string","null"]}},"required":["first","last","prev","next"]},"meta":{"type":"object","properties":{"current_page":{"type":"integer"},"from":{"type":["integer","null"]},"path":{"type":["string","null"],"description":"Base path for paginator generated URLs."},"per_page":{"type":"integer","description":"Number of items shown per page."},"to":{"type":["integer","null"],"description":"Number of the last item in the slice."},"count":{"type":"string"}},"required":["current_page","from","path","per_page","to","count"]}},"required":["data","links","meta"]}}}}}}},"\/{locale}\/search\/{entryType}\/{query}":{"get":{"operationId":"search.type","tags":["Search"],"parameters":[{"name":"locale","in":"path","required":true,"schema":{"type":"string"}},{"name":"entryType","in":"path","required":true,"description":"The entry type ID","schema":{"$ref":"#\/components\/schemas\/EntryType"}},{"name":"query","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Paginated set","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/SearchCollection"},"links":{"type":"object","properties":{"first":{"type":["string","null"]},"last":{"type":["string","null"]},"prev":{"type":["string","null"]},"next":{"type":["string","null"]}},"required":["first","last","prev","next"]},"meta":{"type":"object","properties":{"current_page":{"type":"integer"},"from":{"type":["integer","null"]},"path":{"type":["string","null"],"description":"Base path for paginator generated URLs."},"per_page":{"type":"integer","description":"Number of items shown per page."},"to":{"type":["integer","null"],"description":"Number of the last item in the slice."},"count":{"type":"string"}},"required":["current_page","from","path","per_page","to","count"]}},"required":["data","links","meta"]}}}},"404":{"$ref":"#\/components\/responses\/ModelNotFoundException"}}}}},"components":{"schemas":{"ApiRequestStatus":{"type":"string","enum":["idle","error","failed","not-found","success","unauthorized"],"title":"ApiRequestStatus"},"BroadcastResource":{"type":"object","properties":{"id":{"type":"string","description":"The entry id."},"type":{"type":"string","description":"The entry type.","enum":["default","article","broadcast","channel","episode","event","page","playlist","post","program","project","video"]},"title":{"type":"string","description":"The entry title."},"name":{"type":"string","description":"The entry name."},"slug":{"type":"string","description":"The entry slug."},"subtitle":{"type":["string","null"],"description":"The entry subtitle."},"description":{"type":["string","null"],"description":"The entry description."},"date":{"type":["integer","null"],"description":"The entry duration."},"start":{"type":["string","null"],"description":"The broadcast start date and time."},"end":{"type":["string","null"],"description":"The broadcast end date."},"genre":{"type":"object","description":"The genre.","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]},"":{"anyOf":[{"type":"object","properties":{"media":{"type":"object","description":"The media.","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"duration":{"type":"integer"}},"required":["id","name","description","url","duration"]}},"required":["media"]},{"type":"object","properties":{"media":{"type":"null"}},"required":["media"]}]},"mood":{"type":"object","description":"The mood.","properties":{"wave":{"type":"integer"},"intensity":{"type":"integer"},"tempo":{"type":"integer"},"svg":{"type":"string"},"mask":{"type":"array","items":{}}},"required":["wave","intensity","tempo","svg","mask"]},"taxonomies":{"type":"object","description":"The taxonomies.","properties":{"defaults":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"categories":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"colofons":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"creators":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"genres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"origins":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"subgenres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}}},"required":["defaults","categories","colofons","creators","genres","origins","subgenres","tags"]},"links":{"type":"object","properties":{"index":{"type":"string"},"episode":{"type":"string"}},"required":["index","episode"]}},"required":["id","type","title","name","slug","subtitle","description","date","start","end","genre",null,"mood",null,"taxonomies","links"],"title":"BroadcastResource"},"ChannelResource":{"type":"object","properties":{"id":{"type":"string","description":"The entry id."},"type":{"type":"string","description":"The entry type.","enum":["default","article","broadcast","channel","episode","event","page","playlist","post","program","project","video"]},"title":{"type":"string","description":"The entry title."},"name":{"type":"string","description":"The entry name."},"slug":{"type":"string","description":"The entry slug."},"subtitle":{"type":["string","null"],"description":"The entry subtitle."},"description":{"type":["string","null"],"description":"The entry description."},"date":{"type":["integer","null"],"description":"The entry duration."},"url":{"type":["string","null"],"description":"The channel url."},"live":{"type":"boolean","description":"The channel is live."},"":{"anyOf":[{"type":"object","properties":{"image":{"type":"object","description":"The image.","properties":{"id":{"type":"string"},"url":{"type":"string"},"path":{"type":"string"},"alt":{"type":"string"},"caption":{"type":"string"}},"required":["id","url","path","alt","caption"]}},"required":["image"]},{"type":"object","properties":{"image":{"type":"null"}},"required":["image"]}]},"genre":{"type":"object","description":"The genre.","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]},"mood":{"type":"object","description":"The mood.","properties":{"wave":{"type":"integer"},"intensity":{"type":"integer"},"tempo":{"type":"integer"},"svg":{"type":"string"},"mask":{"type":"array","items":{}}},"required":["wave","intensity","tempo","svg","mask"]},"taxonomies":{"type":"object","description":"The taxonomies.","properties":{"defaults":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"categories":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"colofons":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"creators":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"genres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"origins":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"subgenres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}}},"required":["defaults","categories","colofons","creators","genres","origins","subgenres","tags"]},"links":{"type":"object","properties":{"index":{"type":"string"},"self":{"type":"string"}},"required":["index","self"]}},"required":["id","type","title","name","slug","subtitle","description","date","url","live",null,"genre",null,"mood","taxonomies","links"],"title":"ChannelResource"},"EntryType":{"type":"string","enum":["default","article","broadcast","channel","episode","event","index","page","playlist","post","program","project","video","work"],"title":"EntryType"},"EpisodeResource":{"type":"object","properties":{"id":{"type":"string","description":"The entry id."},"type":{"type":"string","description":"The entry type.","enum":["default","article","broadcast","channel","episode","event","page","playlist","post","program","project","video"]},"title":{"type":"string","description":"The entry title."},"name":{"type":"string","description":"The entry name."},"slug":{"type":"string","description":"The entry slug."},"subtitle":{"type":["string","null"],"description":"The entry subtitle."},"description":{"type":["string","null"],"description":"The entry description."},"date":{"type":["integer","null"],"description":"The entry duration."},"author":{"type":"array","description":"The author.","items":{"type":"object"}},"genre":{"type":"object","description":"The genre.","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]},"":{"anyOf":[{"type":"object","properties":{"media":{"type":"object","description":"The media.","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"duration":{"type":"integer"}},"required":["id","name","description","url","duration"]}},"required":["media"]},{"type":"object","properties":{"media":{"type":"null"}},"required":["media"]}]},"mood":{"type":"object","description":"The mood.","properties":{"wave":{"type":"integer"},"intensity":{"type":"integer"},"tempo":{"type":"integer"},"svg":{"type":"string"},"mask":{"type":"array","items":{}}},"required":["wave","intensity","tempo","svg","mask"]},"taxonomies":{"type":"object","description":"The taxonomies.","properties":{"defaults":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"categories":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"colofons":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"creators":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"genres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"origins":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"subgenres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}}},"required":["defaults","categories","colofons","creators","genres","origins","subgenres","tags"]},"content":{"type":"object","description":"The entry body.","properties":{"body":{"type":"string"},"blocks":{"type":"array","items":{}},"sections":{"type":"array","items":{}}},"required":["body","blocks","sections"]},"latest_broadcast":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}},"required":["start","end"]},"links":{"type":"object","properties":{"index":{"type":"string"},"self":{"type":"string"},"program":{"type":["string","null"]}},"required":["index","self","program"]}},"required":["id","type","title","name","slug","subtitle","description","date","author","genre",null,"mood","taxonomies",null,"content","latest_broadcast","links"],"title":"EpisodeResource"},"PageResource":{"type":"object","properties":{"id":{"type":"string","description":"The entry id."},"type":{"type":"string","description":"The entry type.","enum":["default","article","broadcast","channel","episode","event","page","playlist","post","program","project","video"]},"title":{"type":"string","description":"The entry title."},"name":{"type":"string","description":"The entry name."},"slug":{"type":"string","description":"The entry slug."},"subtitle":{"type":["string","null"],"description":"The entry subtitle."},"description":{"type":["string","null"],"description":"The entry description."},"date":{"type":["integer","null"],"description":"The entry duration."},"content":{"type":"object","description":"The entry body.","properties":{"body":{"type":"string"},"blocks":{"type":"array","items":{}},"sections":{"type":"array","items":{}}},"required":["body","blocks","sections"]},"links":{"type":"object","properties":{"url":{"type":"string"},"index":{"type":"string"}},"required":["url","index"]}},"required":["id","type","title","name","slug","subtitle","description","date","content","links"],"title":"PageResource"},"PlaylistIndexResource":{"type":"object","properties":{"id":{"type":"string","description":"The entry id."},"type":{"type":"string","description":"The entry type.","enum":["default","article","broadcast","channel","episode","event","page","playlist","post","program","project","video"]},"title":{"type":"string","description":"The entry title."},"name":{"type":"string","description":"The entry name."},"slug":{"type":"string","description":"The entry slug."},"subtitle":{"type":["string","null"],"description":"The entry subtitle."},"description":{"type":["string","null"],"description":"The entry description."},"date":{"type":["integer","null"],"description":"The entry duration."},"genre":{"type":"object","description":"The genre.","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]},"":{"anyOf":[{"type":"object","properties":{"image":{"type":"object","description":"The image.","properties":{"id":{"type":"string"},"url":{"type":"string"},"path":{"type":"string"},"alt":{"type":"string"},"caption":{"type":"string"}},"required":["id","url","path","alt","caption"]}},"required":["image"]},{"type":"object","properties":{"image":{"type":"null"}},"required":["image"]}]},"mood":{"type":"object","description":"The mood.","properties":{"wave":{"type":"integer"},"intensity":{"type":"integer"},"tempo":{"type":"integer"},"svg":{"type":"string"},"mask":{"type":"array","items":{}}},"required":["wave","intensity","tempo","svg","mask"]},"taxonomies":{"type":"object","description":"The taxonomies.","properties":{"defaults":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"categories":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"colofons":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"creators":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"genres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"origins":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"subgenres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}}},"required":["defaults","categories","colofons","creators","genres","origins","subgenres","tags"]},"content":{"type":"object","description":"Keep response structure stable but skip expensive rich-body rendering in list endpoints.","properties":{"body":{"type":"string","enum":[""]},"blocks":{"type":"string","enum":[""]},"sections":{"type":"string","enum":[""]}},"required":["body","blocks","sections"]},"tracks":{"type":"array","items":{"type":"string"},"minItems":0,"maxItems":0,"additionalItems":false},"links":{"type":"object","properties":{"index":{"type":"string"},"self":{"type":"string"}},"required":["index","self"]}},"required":["id","type","title","name","slug","subtitle","description","date","genre",null,"mood","taxonomies","content","tracks","links"],"title":"PlaylistIndexResource"},"PlaylistResource":{"type":"object","properties":{"id":{"type":"string","description":"The entry id."},"type":{"type":"string","description":"The entry type.","enum":["default","article","broadcast","channel","episode","event","page","playlist","post","program","project","video"]},"title":{"type":"string","description":"The entry title."},"name":{"type":"string","description":"The entry name."},"slug":{"type":"string","description":"The entry slug."},"subtitle":{"type":["string","null"],"description":"The entry subtitle."},"description":{"type":["string","null"],"description":"The entry description."},"date":{"type":["integer","null"],"description":"The entry duration."},"genre":{"type":"object","description":"The genre.","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]},"":{"anyOf":[{"type":"object","properties":{"image":{"type":"object","description":"The image.","properties":{"id":{"type":"string"},"url":{"type":"string"},"path":{"type":"string"},"alt":{"type":"string"},"caption":{"type":"string"}},"required":["id","url","path","alt","caption"]}},"required":["image"]},{"type":"object","properties":{"image":{"type":"null"}},"required":["image"]}]},"mood":{"type":"object","description":"The mood.","properties":{"wave":{"type":"integer"},"intensity":{"type":"integer"},"tempo":{"type":"integer"},"svg":{"type":"string"},"mask":{"type":"array","items":{}}},"required":["wave","intensity","tempo","svg","mask"]},"taxonomies":{"type":"object","description":"The taxonomies.","properties":{"defaults":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"categories":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"colofons":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"creators":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"genres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"origins":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"subgenres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}}},"required":["defaults","categories","colofons","creators","genres","origins","subgenres","tags"]},"content":{"type":"object","description":"The entry body.","properties":{"body":{"type":"string"},"blocks":{"type":"array","items":{}},"sections":{"type":"array","items":{}}},"required":["body","blocks","sections"]},"tracks":{"type":"array","description":"The tracks.","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"type":{"type":"string"},"order":{"type":"integer"},"duration":{"type":"integer"}},"required":["id","name","description","url","type","order","duration"]}},"links":{"type":"object","properties":{"index":{"type":"string"},"self":{"type":"string"}},"required":["index","self"]}},"required":["id","type","title","name","slug","subtitle","description","date","genre",null,"mood","taxonomies","content","links"],"title":"PlaylistResource"},"PlaylistTaxonomyResource":{"type":"object","properties":{"id":{"type":"string","description":"The entry id."},"type":{"type":"string","description":"The entry type.","enum":["default","article","broadcast","channel","episode","event","page","playlist","post","program","project","video"]},"title":{"type":"string","description":"The entry title."},"name":{"type":"string","description":"The entry name."},"slug":{"type":"string","description":"The entry slug."},"subtitle":{"type":["string","null"],"description":"The entry subtitle."},"description":{"type":["string","null"],"description":"The entry description."},"date":{"type":["integer","null"],"description":"The entry duration."},"playlists_count":{"type":"integer","description":"The number of playlists."},"playlists":{"description":"The playlists.","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"},"minItems":0,"maxItems":0,"additionalItems":false}]},"links":{"type":"object","properties":{"index":{"type":"string","description":"\u0027more\u0027 =\u003E \u0027api.playlists.taxonomy.playlist.index\u0027,"},"playlists":{"type":"string"}},"required":["index","playlists"]}},"required":["id","type","title","name","slug","subtitle","description","date","playlists","links"],"title":"PlaylistTaxonomyResource"},"PostIndexResource":{"type":"object","properties":{"id":{"type":"string","description":"The entry id."},"type":{"type":"string","description":"The entry type.","enum":["default","article","broadcast","channel","episode","event","page","playlist","post","program","project","video"]},"title":{"type":"string","description":"The entry title."},"name":{"type":"string","description":"The entry name."},"slug":{"type":"string","description":"The entry slug."},"subtitle":{"type":["string","null"],"description":"The entry subtitle."},"description":{"type":["string","null"],"description":"The entry description."},"date":{"type":["integer","null"],"description":"The entry duration."},"genre":{"type":"object","description":"The genre.","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]},"":{"anyOf":[{"type":"object","properties":{"image":{"type":"object","description":"The image.","properties":{"id":{"type":"string"},"url":{"type":"string"},"path":{"type":"string"},"alt":{"type":"string"},"caption":{"type":"string"}},"required":["id","url","path","alt","caption"]}},"required":["image"]},{"type":"object","properties":{"image":{"type":"null"}},"required":["image"]}]},"mood":{"type":"object","description":"The mood.","properties":{"wave":{"type":"integer"},"intensity":{"type":"integer"},"tempo":{"type":"integer"},"svg":{"type":"string"},"mask":{"type":"array","items":{}}},"required":["wave","intensity","tempo","svg","mask"]},"taxonomies":{"type":"object","description":"The taxonomies.","properties":{"defaults":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"categories":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"colofons":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"creators":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"genres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"origins":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"subgenres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}}},"required":["defaults","categories","colofons","creators","genres","origins","subgenres","tags"]},"content":{"type":"object","description":"Keep response shape stable but skip expensive rich-body rendering in index lists.","properties":{"body":{"type":"string","enum":[""]},"blocks":{"type":"string","enum":[""]},"sections":{"type":"string","enum":[""]}},"required":["body","blocks","sections"]},"links":{"type":"object","properties":{"index":{"type":"string"},"self":{"type":"string"}},"required":["index","self"]}},"required":["id","type","title","name","slug","subtitle","description","date","genre",null,"mood","taxonomies","content","links"],"title":"PostIndexResource"},"PostResource":{"type":"object","properties":{"id":{"type":"string","description":"The entry id."},"type":{"type":"string","description":"The entry type.","enum":["default","article","broadcast","channel","episode","event","page","playlist","post","program","project","video"]},"title":{"type":"string","description":"The entry title."},"name":{"type":"string","description":"The entry name."},"slug":{"type":"string","description":"The entry slug."},"subtitle":{"type":["string","null"],"description":"The entry subtitle."},"description":{"type":["string","null"],"description":"The entry description."},"date":{"type":["integer","null"],"description":"The entry duration."},"genre":{"type":"object","description":"The genre.","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]},"":{"anyOf":[{"type":"object","properties":{"image":{"type":"object","description":"The image.","properties":{"id":{"type":"string"},"url":{"type":"string"},"path":{"type":"string"},"alt":{"type":"string"},"caption":{"type":"string"}},"required":["id","url","path","alt","caption"]}},"required":["image"]},{"type":"object","properties":{"image":{"type":"null"}},"required":["image"]}]},"mood":{"type":"object","description":"The mood.","properties":{"wave":{"type":"integer"},"intensity":{"type":"integer"},"tempo":{"type":"integer"},"svg":{"type":"string"},"mask":{"type":"array","items":{}}},"required":["wave","intensity","tempo","svg","mask"]},"taxonomies":{"type":"object","description":"The taxonomies.","properties":{"defaults":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"categories":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"colofons":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"creators":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"genres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"origins":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"subgenres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}}},"required":["defaults","categories","colofons","creators","genres","origins","subgenres","tags"]},"content":{"type":"object","description":"The entry body.","properties":{"body":{"type":"string"},"blocks":{"type":"array","items":{}},"sections":{"type":"array","items":{}}},"required":["body","blocks","sections"]},"links":{"type":"object","properties":{"index":{"type":"string"},"self":{"type":"string"}},"required":["index","self"]}},"required":["id","type","title","name","slug","subtitle","description","date","genre",null,"mood","taxonomies","content","links"],"title":"PostResource"},"ProgramResource":{"type":"object","properties":{"id":{"type":"string","description":"The entry id."},"type":{"type":"string","description":"The entry type.","enum":["default","article","broadcast","channel","episode","event","page","playlist","post","program","project","video"]},"title":{"type":"string","description":"The entry title."},"name":{"type":"string","description":"The entry name."},"slug":{"type":"string","description":"The entry slug."},"subtitle":{"type":["string","null"],"description":"The entry subtitle."},"description":{"type":["string","null"],"description":"The entry description."},"date":{"type":["integer","null"],"description":"The entry duration."},"genre":{"type":"object","description":"The genre.","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]},"":{"anyOf":[{"type":"object","properties":{"image":{"type":"object","description":"The image.","properties":{"id":{"type":"string"},"url":{"type":"string"},"path":{"type":"string"},"alt":{"type":"string"},"caption":{"type":"string"}},"required":["id","url","path","alt","caption"]}},"required":["image"]},{"type":"object","properties":{"image":{"type":"null"}},"required":["image"]}]},"mood":{"type":"object","description":"The mood.","properties":{"wave":{"type":"integer"},"intensity":{"type":"integer"},"tempo":{"type":"integer"},"svg":{"type":"string"},"mask":{"type":"array","items":{}}},"required":["wave","intensity","tempo","svg","mask"]},"taxonomies":{"type":"object","description":"The taxonomies.","properties":{"defaults":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"categories":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"colofons":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"creators":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"genres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"origins":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"subgenres":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"color":{"type":"string"}},"required":["id","name","slug","color"]}}},"required":["defaults","categories","colofons","creators","genres","origins","subgenres","tags"]},"content":{"type":"object","description":"The entry body.","properties":{"body":{"type":"string"},"blocks":{"type":"array","items":{}},"sections":{"type":"array","items":{}}},"required":["body","blocks","sections"]},"links":{"type":"object","properties":{"index":{"type":"string"},"self":{"type":"string"},"episodes":{"type":"string"}},"required":["index","self","episodes"]}},"required":["id","type","title","name","slug","subtitle","description","date","genre",null,"mood","taxonomies","content","links"],"title":"ProgramResource"},"SearchCollection":{"type":"object","properties":{"data":{"type":"string"},"links":{"type":"object","properties":{"self":{"type":"string"},"next":{"type":["string","null"]},"prev":{"type":["string","null"]}},"required":["self","next","prev"]}},"required":["data","links"],"title":"SearchCollection"},"TaxonomyType":{"type":"string","enum":["category","colofon","creator","default","genre","location","organization","origin","subgenre","tag"],"title":"TaxonomyType"}},"responses":{"ModelNotFoundException":{"description":"Not found","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}}}}}
